{% extends 'base.html.twig' %}

{% block title %}Mon compte - Poto's League
{% endblock %}

{% block content %}
	<h1>Mon compte</h1>
	<p>Bienvenue <strong>{{ app.user.firstname }}</strong> dans ton compte.<br/>
    C'est dans cet espace que tu vas pouvoir gérer l'ensemble de tes informations 
    personnelles.
    </p>
    <hr>


	{% endblock %}

