{% extends 'base.html.twig' %}

{% block carousel %}{% endblock %}

{% block content %}

	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<iframe src='https://fantasydata.com/sports-widgets/nfl-fantasy-leaders' width='302px' height='320px' style='overflow: hidden; border: none;'></iframe>
			</div>

			<div id="DOM_element_id_in_your_website_1648910650078"></div>

<script>
  (function(b, s, p, o, r, t) {
    b["broadage"] = b["broadage"] || [];
    if (!b["broadage"].length) {
      r = document.createElement(s);
      t = document.getElementsByTagName(s)[0];
      r.async = true;
      r.src = p;
      t.parentNode.insertBefore(r, t);
    }
    b["broadage"].push({ "bundleId": o.bundleId, "widgets": o.widgets, "accountId": o.accountId });
  })(window, "script", "//cdn-saas.broadage.com/widgets/loader/loader.js", {
    "bundleId": ["football-st"],
    "accountId": "37babfe1-4a9e-4288-b9a0-7eb5a4d1d4b3",
    "widgets": {
      "footballStandings": [{
        "element": "DOM_element_id_in_your_website_1648910650078",
        "tournamentId": 1,
        "options": {
          "lang": "fr-FR"
        }
      }]
    }
  });
</script>
		</div>
		<hr>
		<div class="row">
		<img src="assets/img/logoSite/coachsdumoment.png"></img>
			<!--<h2>Les coachs du moment</h2>-->
		</div>
		<div class="card-deck">
			{% for user in bestUsers %}
				<div class="col-md-3">
					{% include "user/single_user.html.twig" %}
				</div>
			{% endfor %}
		</div>
	</div>
	<hr>
	<div class="container">
		<div class="row" >
			<img src="assets/img/logoSite/coachsdumoment.png"></img>
		</div>
		<div class="card-deck">
			{% for data in datas %}
				<div class="col-md-4">
					{% include "nfl_news/single_nfl_news.html.twig" %}
				</div>
			{% endfor %}
		</div>
		<a href="{{ path('nflNews')}}">Toutes les news Nfl</a>
	</div>
	<!-- START THE FEATURETTES -->
	<hr class="featurette-divider">
<img src="assets/img/logoSite/coachsdumoment.png"></img>
	<div class="row featurette" style="bg-grey;background-color: lightgrey;">
		<div class="col-md-6">
			<h3 class="featurette-heading">Le programme Tv Nfl
				<a class="tvsports-widget" href="https://tv-sports.fr" data-sport-id="138" data-direct-only="1" data-width="100%" data-height="650px">Programme TV Football américain</a>
				<script async type="text/javascript" src="https://tv-sports.fr/widget.js"></script>
			</h3>
		</div>
		<div class="col-md-6">
			<h3 class="featurette-heading">Le programme Tv Nba
				<a class="tvsports-widget" href="https://tv-sports.fr" data-competition-id="149" data-direct-only="1" data-width="100%" data-height="650px">Programme TV NBA</a>
				<script async type="text/javascript" src="https://tv-sports.fr/widget.js"></script>
			</h3>
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7 order-md-2">
			<h2 class="featurette-heading">Un shop complet avec un large choix.
				<span class="text-muted">Venez le découvrir.</span>
			</h2>
			<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		</div>
		<div class="col-md-5 order-md-1">
			<img src="{{ asset('assets/img/shop.jpg') }}" class="img-fluid" alt="un shop ouvert toute l'année">
		</div>
	</div>

	<!-- /END THE FEATURETTES -->
{% endblock %}
