{% extends 'base.html.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-3">
			<h5>Filtrer</h5>
			{{ form(form) }}
		</div>
		<div class="col-md-9">
			<h1>Les équipes</h1>
			<div class="row fantasyTeam-container">
				{% for fantasyTeam in fantasyTeams %}
					{% include 'fantasy_team/single_fantasy_team.html.twig' %}
				{% endfor %}
			</div>
		</div>
	</div>		
{% endblock %}
