	<div class="cardUser" style="text-align: center; color:black; mt-2">
		<div class="cardUserTitle">
			<h2>{{user.firstname}}</h2>
		</div>
		<div class="cardUserImage-crop">
			
				<img id="cardUserAvatar" src="/uploads/users/pictureProfile/{{ user.picture }}" alt="{{user.firstname}}"></img>
		</a>
	</div>
	<div class="cardUserBio">
		<p>Team:
			{{ fantasyTeam.name }}
		</p>
	</div>
	<div class="cardUserStats">
		<div class="col">
			<p class="cardUserStat">108</p>
			<p class="cardUserLabel">Wins</p>
		</div>
		<div class="col">
			<p class="cardUserStat">457</p>
			<p class="cardUserLabel">Losts</p>
		</div>
		<div class="col">
			<p class="cardUserStat">2</p>
			<p class="cardUserLabel">Champs</p>
		</div>
	</div>
	<div id="buttons">
		
			<button>Voir plus</button>
		</a>
		<button id="msg">Message</button>
	</div>


